<div id="wrapper">
  <img src="assets/CodeStrikers-logo.png" alt="Logo de la team Code Strikers">

  <span id="phrase">Equipe de l'INSA CVL pour la Nuit de l'Info 2016</span>

  <div class="buttons">
    <button md-raised-button [routerLink]="['team']" id="Team" color="accent">Voir l'équipe</button>
    <a href="/sites/codestrikers/site" md-raised-button color="accent" id="leftButton">Voir le site</a>
  </div>
  <div>
    <!-- <md-progress-bar mode="mode" [value]="value"></md-progress-bar> -->
    <!-- <button md-raised-button>Twitter</button> -->
   <share-buttons [shareTitle]="'Help us by sharing our website'"
      [url]="'https://nuit-info.insa-cvl.fr/sites/codestrikers/'"
      [count]="true"
      [totalCount]="true"
      [tags]="'CodeStrikers @CodeStrikers'"
 ></share-buttons>
 </div>
</div>
