#wrapper {
  margin: 0 10%;
  text-align: center;
}

img {
  width: 100%;
  margin: 5% 0 1%;

}

button {
  /*padding: 1% 2%;*/
  padding: 5px 25px;
  font-size: 15px;
}

#Team {
  margin-right: 4%;
}

#leftButton {
  margin-left: 4%;
}

#phrase {
  margin: 1% 0;
  padding: 1%;
  display: block;
  text-transform: uppercase;
  font-family: Helvetica Neue;
  font-weight: 600;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.buttons {
  margin-top: 4%;
}
